### Step 1:Import Necessary libraries

In [3]:
import pandas as pd # data transformation
import requests # establishing connection with api

In [5]:
url = "https://api.coincap.io/v2/assets"

In [7]:
response = requests.get(url)
print(response)

<Response [200]>

In [9]:
responsedata = response.json()

### Step 2: Transformation (Restructuring and data cleaning)

In [24]:
data = pd.json_normalize(responsedata, "data")
data.head()

,id,rank,symbol,name,supply,maxSupply,marketCapUsd,volumeUsd24Hr,priceUsd,changePercent24Hr,vwap24Hr,explorer
0,bitcoin,1,BTC,Bitcoin,19789790.0000000000000000,21000000.0000000000000000,1918107665617.4110171691397030,8088558790.1120656630397257,96924.1040767694360157,-0.0336485625248823,96521.7062080357518180,https://blockchain.info/
1,ethereum,2,ETH,Ethereum,120441030.0471138800000000,None,447358119459.0753323370672002,8769765295.5120861531850128,3714.3332241851359336,0.2428603114673485,3690.1459120176927340,https://etherscan.io/
2,tether,3,USDT,Tether,134038109772.8574500000000000,None,134097205329.2146952440066421,28957499626.7397361555172317,1.0004408862259949,0.0441400664095415,1.0002405315975558,https://www.omniexplorer.info/asset/31
3,solana,4,SOL,Solana,475165164.8058069300000000,None,112424736342.3820352052048580,909998708.3242692478045062,236.6013855168199980,-3.3996121977480966,239.3427598921668055,https://explorer.solana.com/
4,binance-coin,5,BNB,BNB,166801148.0000000000000000,166801148.0000000000000000,108720186275.2552107524039008,430724398.3988768344077572,651.7951919327030696,-2.9760632980624742,656.5892441967516810,https://etherscan.io/token/0xB8c77482e45F1F44d...

In [30]:
data.info() # full description of the dataset

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 100 non-null    object
 1   rank               100 non-null    object
 2   symbol             100 non-null    object
 3   name               100 non-null    object
 4   supply             100 non-null    object
 5   maxSupply          36 non-null     object
 6   marketCapUsd       100 non-null    object
 7   volumeUsd24Hr      100 non-null    object
 8   priceUsd           100 non-null    object
 9   changePercent24Hr  100 non-null    object
 10  vwap24Hr           100 non-null    object
 11  explorer           98 non-null     object
dtypes: object(12)
memory usage: 9.5+ KB

### Step 3: convert categorical data into numerical data

In [33]:
def convert_columns_to_datatypes(df, column_datatype):
    for column, datatype in column_datatypes.items():
        if column in df.columns:
            df[column] = df[column].astype(datatype)
    return df

In [44]:
column_datatypes = {
    'rank': int,
    'supply': float,
    'maxSupply': float,
    'marketCapUsd': float,
    'volumeUsd24Hr': float,
    'priceUsd': float,
    'changePercent24Hr': float,
    'vwap24Hr': float
}

data = convert_columns_to_datatypes(data, column_datatypes)

In [46]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 100 non-null    object
 1   rank               100 non-null    int32
 2   symbol             100 non-null    object
 3   name               100 non-null    object
 4   supply             100 non-null    float64
 5   maxSupply          100 non-null    float64
 6   marketCapUsd       100 non-null    float64
 7   volumeUsd24Hr      100 non-null    float64
 8   priceUsd           100 non-null    float64
 9   changePercent24Hr  100 non-null    float64
 10  vwap24Hr           100 non-null    float64
 11  explorer           100 non-null    object
dtypes: float64(7), int32(1), object(4)
memory usage: 9.1+ KB

### Step 4: dealing with missing data

In [61]:
data["maxSupply"] = data["maxSupply"].fillna(0)
data["explorer"] = data["explorer"].fillna('not available')
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 100 non-null    object
 1   rank               100 non-null    int32
 2   symbol             100 non-null    object
 3   name               100 non-null    object
 4   supply             100 non-null    float64
 5   maxSupply          100 non-null    float64
 6   marketCapUsd       100 non-null    float64
 7   volumeUsd24Hr      100 non-null    float64
 8   priceUsd           100 non-null    float64
 9   changePercent24Hr  100 non-null    float64
 10  vwap24Hr           100 non-null    float64
 11  explorer           100 non-null    object
dtypes: float64(7), int32(1), object(4)
memory usage: 9.1+ KB

### Step 5: round nember to 2 decimal places

In [63]:
def round_to_two_decimal_places(number):
    return round(number, 2)

In [67]:
selected_columns = ['supply', 'maxSupply', 'marketCapUsd', 'priceUsd', 'changePercent24Hr', 'vwap24Hr']
data[selected_columns] = data[selected_columns].applymap(round_to_two_decimal_places)
data.head()

C:\Users\MariyaAlMahrouqi\AppData\Local\Temp\ipykernel_21312\1892541769.py:2: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  data[selected_columns] = data[selected_columns].applymap(round_to_two_decimal_places)

,id,rank,symbol,name,supply,maxSupply,marketCapUsd,volumeUsd24Hr,priceUsd,changePercent24Hr,vwap24Hr,explorer
0,bitcoin,1,BTC,Bitcoin,1.978979e+07,21000000.0,1.918108e+12,8.088559e+09,96924.10,-0.03,96521.71,https://blockchain.info/
1,ethereum,2,ETH,Ethereum,1.204410e+08,0.0,4.473581e+11,8.769765e+09,3714.33,0.24,3690.15,https://etherscan.io/
2,tether,3,USDT,Tether,1.340381e+11,0.0,1.340972e+11,2.895750e+10,1.00,0.04,1.00,https://www.omniexplorer.info/asset/31
3,solana,4,SOL,Solana,4.751652e+08,0.0,1.124247e+11,9.099987e+08,236.60,-3.40,239.34,https://explorer.solana.com/
4,binance-coin,5,BNB,BNB,1.668011e+08,166801148.0,1.087202e+11,4.307244e+08,651.80,-2.98,656.59,https://etherscan.io/token/0xB8c77482e45F1F44d...

### Step 6: Load the data into a Postgress database

In [70]:
# database credentials
db_username = 'postgres'
db_password = ''
db_host = 'localhost'
db_port = 5432
db_name = 'AnalyticsCrypto'

In [74]:
import psycopg2 # for connecting to PostgreSQL database and executing queries
from sqlalchemy import create_engine # to effectively manage and reuse database connection

In [78]:
#establish a connection using SQLAlchemy engine
engine = create_engine(f'postgresql://{db_username}:{db_password}@{db_host}:{db_port}/{db_name}')

In [82]:
#create a atable name
table_name = 'Crypto_data'

# load the data into table
data.to_sql(table_name, engine, if_exists='replace', index=False)

#close the engine connection
engine.dispose()